    .panel-default>.panel-heading {
        background-image: linear-gradient(to bottom,#ffffff 0,#ffffff 100%);
    }
   .panel-group ul{
        list-style:none;
        text-align: left;
        padding:0;
        margin-bottom:0;
    }
    a:hover{
        text-decoration: none;
    }
    a:link {
        text-decoration: none;
    }
    a:active {
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
    }
    a {
        color: black;
        text-decoration: none;
    }
    .btn-group-lg>.btn, .btn-lg{
        padding: 8px;
        font-size: 14px;
        border-width: 0;
    }
    .btn-primary-my{
        margin: 10px  0  1px 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .btn-primary-my2{
        margin: 10px  0  1px 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .panel-my {
        margin-top: 0;
    }
    .panel-heading-my{
        height: 40px;
        line-height: 40px;
    }
    .line_style{
        width: 35%;
        float: left;
        padding-left: 50px;
        color: black;
    }
    .line_style-li{
        width: 35%;
        float: left;
        padding-left: 64px;
    }
    .panel-body-2 {
        padding: 0
    }
